/* Charts container */
.charts-container {
  display: grid;
  grid-template-areas:
    "chart1 chart2"
    "chart3 chart4";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible columns */
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Chart styles */
.chart {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.chart1 {
  grid-area: chart1;
}

.chart2 {
  grid-area: chart2;
}

.chart3 {
  grid-area: chart3;
  height:340px;
}

.chart4 {
  grid-area: chart4;
  height:350px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .charts-container {
    grid-template-areas:
      "chart1"
      "chart2"
      "chart3"
      "chart4";
    grid-template-columns: 1fr; /* Single column for smaller screens */
    gap: 15px; /* Smaller gaps */
  }
}